
.a01{
    display: inline-block;
    width: 35px;
    background-color: lightcyan;
    text-align: center;
    padding: 5px;
    color: black;
    margin: 1px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.a02{
    display: inline-block;
    width: 35px;
    background-color: lightpink;
    text-align: center;
    padding: 5px;
    color: black;
    margin: 1px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.a03{
    display: inline-block;
    width: 35px;
    background-color: rgb(158, 255, 187);
    text-align: center;
    padding: 5px;
    color: black;
    margin: 1px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.a04{
    display: inline-block;
    width: 35px;
    background-color: rgb(205, 173, 230);
    text-align: center;
    padding: 5px;
    color: black;
    margin: 1px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.zarb{
    display: inline-block;
    width: 35px;
    background-color: rgba(14, 4, 52, 0.993);
    box-shadow: inset 1px 1px 5px rgb(0, 0, 0);
    text-align: center;
    padding: 5px;
    color: whitesmoke;
    margin: 1px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: 600;
}

.a05{
    display: inline-block;
    width: 35px;
    background-color: rgb(230, 173, 221);
    text-align: center;
    padding: 5px;
    color: black;
    margin: 1px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.a06{
    display: inline-block;
    width: 35px;
    background-color: rgb(173, 230, 199);
    text-align: center;
    padding: 5px;
    color: black;
    margin: 1px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.a07{
    display: inline-block;
    width: 35px;
    background-color: rgb(215, 225, 255);
    text-align: center;
    padding: 5px;
    color: black;
    margin: 1px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
div.aa{
    position: absolute;
    left: 100%;
    top: 0%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

